@model IEnumerable<RentalSpaceModel>

@{
    int id = (int)ViewBag.Id; // Retrieve the ID from ViewBag
    byte[] ListingImg = null;
    byte[] ListerImg = null;
}

   @foreach(var obj in Model){
        if (obj.RentalSpaceID == id)
        {   ListingImg = obj.SpaceImage;
            ListerImg = obj.ListerImage;
           <!--Displays image-->
            
            <div id="text_contains" class="ml-3 ">

                @if (ListingImg != null && ListingImg.Length > 0)
                {
                    <div class="image_container mb-4">
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(ListingImg)" alt="Image" style="HEIGHT:100%; width:100% ; border-radius:25px" />
                    </div>
                }

                <h1 class="text-primary ml-3">@obj.Description</h1>

                <div class="row justify-content-start">
                    <div class="col-1">Cost:</div> 
                    <div class="col-3"> @obj.Cost/month</div>  
                </div>
                <div class="row justify-content-start">
                    <div class="col-1">
                        Location: 
                    </div>
                    <div class="col-3">
                        @obj.Location/month
                    </div>
                </div>
                <div class="row justify-content-start">
                    <div class="col-1">
                        Floor of Space: 
                    </div>
                    <div class="col-3">
                        @obj.Floor
                    </div>

                </div>
                <div class="row justify-content-start">
                    <div class="col-1">
                        Length * Breadth * Height:
                    </div>
                    <div class="col-3">
                        @obj.Length ft. * @obj.Breadth ft. * @obj.Height ft.
                    </div>
                </div>
                <div class="row justify-content-start">
                    <div class="col-1">
                        Water Facility: 
                    </div>
                    <div class="col-3">
                        @obj.WaterFacility
                    </div>
                </div>
                <div class="row justify-content-start">
                    <div class="col-1">
                        Paintred color of space: 
                    </div>
                    <div class="col-3">
                        @obj.Color
                    </div>
                </div>
                <div class="row justify-content-start">
                    <div class="col-1">
                        Ad Posted On: 
                    </div>
                    <div class="col-3">
                        @obj.DatePosted
                    </div>
                </div>

                <div id="Area_of_Lister_onDescription">
                    <div class="card" style="width:100%;">
                        <div class="card-body">

                            <h4 class="card-title">
                                @if (ListerImg != null && ListerImg.Length > 0)
                                {
                                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(ListerImg)" alt="Image" class="border border-primary" style="height:48PX; width:48PX ; border-radius:25px; box-shadow: 0px 0 1em lightblue;" />
                                }

                                @obj.Lister
                            </h4>
                            <h4>Contact us : 987654321</h4>
                        </div>
                    </div>
                </div>
            </div>
        }
    }


